<!-- Navigation Bar Content -->
<div class="navbar navbar-inverse navbar-embossed navbar-fixed-top" role="navigation" bs-navbar>
  <button class="navbar-toggle collapsed" type="button" ng-init="isCollapsed = true" ng-click="isCollapsed = !isCollapsed">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  <div class="navbar-header">
    <a class="navbar-brand" href="#">AAD</a>
  </div>
  <div ng-class="{collapse: isCollapsed}" class="navbar-collapse navbar-responsive-collapse">
    <ul class="nav navbar-nav">
      <li data-match-route="/trends"><a ui-sref="app.trends">Trends</a></li>
      <li data-match-route="/equipment" ng-if="currentUser.admin"><a ui-sref="app.equipments">Equipment</a></li>
      <li data-match-route="/users" ng-if="currentUser.admin"><a ui-sref="app.users">Users</a></li>
      <li><a href="http://localhost:3000/api/docs/1.0.html">API</a></li>
    </ul>
    <div class="navbar-right">
      <ul class="nav navbar-nav">
        <li class="dropdown" ng-class="{open: userDropdownOpen}">
          <a href="" class="dropdown-toggle" ng-init="userDropdownOpen = false" ng-click="userDropdownOpen = !userDropdownOpen">{{currentUser.email}} <b class="caret"></b></a>
          <span class="dropdown-arrow"></span>
          <ul class="dropdown-menu">
            <li><a href="#/settings">Settings</a></li>
            <li class="divider"></li>
            <li><a href="#" ng-click="logout();">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>

<!-- Main Content -->
<div id="wrapper" ng-class="{toggled: sideCollapsed}">
  <!-- Sidebar -->
  <div id="sidebar-wrapper">
    <button ng-init"sideCollapsed = true" ng-click="sideCollapsed = !sideCollapsed" id="expand-sidebar">
      <span id="expand-sidebar-icon" ng-class="{'fui-arrow-right': !sideCollapsed, 'fui-arrow-left': sideCollapsed}"></span>
    </button>
    <div ui-view="sidebar" id="sidebar"></div>
  </div>

  <div id="page-content-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <div ui-view="main"></div>
        </div>
      </div>
    </div>
  </div>
</div>