  <!-- We need angular-mocks as it contains ngMockE2E -->
  <script src="bower_components/angular-mocks/angular-mocks.js"></script>
  <!-- This file contains the myAppE2E module responsible for priming the $httpBackend -->
  <script src="../test/e2e/util/appTest.js"></script>
  <!-- Replace the original ng-app attribute with the myAppE2E module name so that one is run -->
  <script type="text/javascript">
    // $('body').attr('ng-app', 'awtpAppTest');
    var element = document.body; 
    element.setAttribute("ng-app", "awtpAppTest"); 
  </script>