<div class="modal" tabindex="-1" role="dialog" ng-controller="ColorimeterNewCtrl">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="$hide()">&times;</button>
        <h5 class="modal-title">New Colorimeter</h5>
      </div>
      <div class="modal-body">

        <form name="newColorimeterForm" novalidate>
          <div class="form-group" show-errors>
            <label class="control-label">Date</label>
            <input type="text" class="form-control" ng-model="colorimeter.date" name="date" placeholder="Date" bs-datepicker required/>
            <p class="help-block" ng-if="newColorimeterForm.date.$error.required">You need to enter a date.</p>
            <p class="help-block" ng-if="errors['date'] != null">{{errors['date']}}</p>
          </div>

          <div class="form-group" show-errors>
            <label class="control-label">Analyst</label>
            <input type="text" class="form-control" ng-model="colorimeter.analyst" name="analyst" placeholder="Analyst" required/>
            <p class="help-block" ng-if="newColorimeterForm.analyst.$error.required">You need to enter a analyst.</p>
            <p class="help-block" ng-if="errors['analyst'] != null">{{errors['analyst']}}</p>
          </div>

          <div class="form-group" show-errors>
            <label class="control-label">Sol1</label>
            <input type="text" class="form-control" ng-model="colorimeter.sol1" name="sol1" placeholder="Sol1" required/>
            <p class="help-block" ng-if="newColorimeterForm.sol1.$error.required">You need to enter a sol1.</p>
            <p class="help-block" ng-if="errors['sol1'] != null">{{errors['sol1']}}</p>
          </div>

          <div class="form-group" show-errors>
            <label class="control-label">Sol2</label>
            <input type="text" class="form-control" ng-model="colorimeter.sol2" name="sol2" placeholder="Sol2" required/>
            <p class="help-block" ng-if="newColorimeterForm.sol2.$error.required">You need to enter a sol2.</p>
            <p class="help-block" ng-if="errors['sol2'] != null">{{errors['sol2']}}</p>
          </div>

          <div class="form-group" show-errors>
            <label class="control-label">Sol3</label>
            <input type="text" class="form-control" ng-model="colorimeter.sol3" name="sol3" placeholder="Sol3" required/>
            <p class="help-block" ng-if="newColorimeterForm.sol3.$error.required">You need to enter a sol3.</p>
            <p class="help-block" ng-if="errors['sol3'] != null">{{errors['sol3']}}</p>
          </div>

          <div class="form-group" show-errors>
            <label class="control-label">Comments</label>
            <input type="text" class="form-control" ng-model="colorimeter.comments" name="comments" placeholder="Comments" required/>
            <p class="help-block" ng-if="newColorimeterForm.comments.$error.required">You need to enter a comments.</p>
            <p class="help-block" ng-if="errors['comments'] != null">{{errors['comments']}}</p>
          </div>
        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="$hide()">Close</button>
        <button type="button" class="btn btn-primary" ng-click="save()">Save</button>
      </div>
    </div>
  </div>
</div>