<h5>New Equipment</h5>
<form name="newEquipmentForm" novalidate>
  <div class="form-group" show-errors>
    <label class="control-label">Location</label>
    <input type="text" class="form-control" placeholder="Location" name="location" ng-model="equipment.location" required/>
    <p class="help-block" ng-if="newEquipmentForm.location.$error.required">You need to an enter a location.</p>
    <p class="help-block" ng-if="errors['location'] != null">Location {{errors['location']}}</p>
  </div>

  <div class="form-group" show-errors>
    <label class="control-label">Model</label>
    <input type="text" class="form-control" placeholder="Model" name="model" ng-model="equipment.model" required/>
    <p class="help-block" ng-if="newEquipmentForm.model.$error.required">You need to an enter a model.</p>
    <p class="help-block" ng-if="errors['model'] != null">Model {{errors['model']}}</p>
  </div>

  <div class="form-group" show-errors>
    <label class="control-label">Equipment #</label>
    <input type="text" class="form-control" placeholder="Equipment #" name="equipment_number" ng-model="equipment.equipment_number" required/>
    <p class="help-block" ng-if="newEquipmentForm.equipment_number.$error.required">You need to an enter a equipment_number.</p>
    <p class="help-block" ng-if="errors['equipment_number'] != null">Equipment # {{errors['equipment_number']}}</p>
  </div>

  <div class="form-group" show-errors>
    <label class="control-label">Serial #</label>
    <input type="text" class="form-control" placeholder="Serial #" name="serial_number" ng-model="equipment.serial_number" required/>
    <p class="help-block" ng-if="newEquipmentForm.serial_number.$error.required">You need to an enter a serial_number.</p>
    <p class="help-block" ng-if="errors['serial_number'] != null">Serial # {{errors['serial_number']}}</p>
  </div>

  <div class="form-group" show-errors>
    <label class="control-label">Make</label>
    <input type="text" class="form-control" placeholder="Make" name="make" ng-model="equipment.make" required/>
    <p class="help-block" ng-if="newEquipmentForm.make.$error.required">You need to an enter a make.</p>
    <p class="help-block" ng-if="errors['make'] != null">Make {{errors['make']}}</p>
  </div>

  <button class="btn btn-primary pull-right" ng-click="save()">Add Equipment</button>
</form>