<div class="login-page">
  <div class="login-icon">
    <img src="bower_components/flat-ui/img/icons/svg/book.svg" alt="Welcome to Mail App" />
    <h4>Welcome to <small>Advanced Water Treatment Plant</small></h4>
  </div>

  <div ui-view></div>

</div>