.body-login {
  background-color: @brand-primary;
}

.login-page {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 600px;
  height: 300px;
  margin-top: -150px;
  margin-left: -300px;
  color: #FFF;
}

.login-icon {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -430px;
  margin-top: -150px;
}

.login-form .has-error .form-control {
  border-color: @brand-danger;
}