<div class="form-group">
<input type="text" ng-model="query" class="form-control" placeholder="Search" />
<i class="input-icon fui-search"></i>
</div>
<ul class="list-group nav">
  <a ui-sref="app.trends.detail({ trendId: trend.id })" ng-repeat="trend in trends | emptyifblank:query | filter:query" ui-sref-active="active" class="list-group-item" ng-click="updateCurrentTrend(trend)">{{trend.name}}</a>
</ul>