<div class="form-group">
<input type="text" ng-model="query" class="form-control" placeholder="Search" />
<i class="input-icon fui-search"></i>
</div>
<ul class="list-group nav">
  <a ui-sref="app.tags.detail({ tagId: tag.id })" ng-repeat="tag in tags | filter:query" ui-sref-active="active" class="list-group-item">{{tag.name}}</a>
</ul>