.alert  {
  outline: 0;
}

.alert {
  padding:18px 45px 14px 30px;
  font-size:16px;
  line-height:1.625;
  color:#34495e;
  border:2px solid transparent;
  border-radius:6px
}

.alert .alert-link {
  font-weight:700
}

.alert .alert-link:hover {
  text-decoration:underline
}

.alert .alert-link.btn {
  color:#fff;
  text-decoration:none
}

.alert .alert-link.btn:active,.alert .alert-link.btn.active {
  color:rgba(255,255,255,.75)
}

.alert h4 {
  margin-bottom:4px;
  font-size:24px;
  line-height:1.2
}

.alert p {
  font-size:inherit;
  line-height:inherit
}

.alert .close {
  position:relative;
  top:3px;
  right:-31px;
  font-size:18px;
  line-height:18px;
  color:#34495e
}

.alert .btn {
  margin-top:15px;
  margin-right:15px;
  margin-bottom:15px
}

@media (max-width:767px) {
  .alert .btn {
    display:block;
    min-width:auto;
    margin-right:-15px;
    margin-bottom:10px
  }
}

.alert-success {
  background-color:#eff7f3;
  border-color:#e1ebe9
}

.alert-success .alert-link {
  color:#16a085
}

.alert-info {
  background-color:#f7f9fa;
  border-color:#e9ecef
}

.alert-info .alert-link {
  color:#3498db
}

.alert-warning {
  background-color:#f9f8f3;
  border-color:#ebece8
}

.alert-warning .alert-link {
  color:#f1c40f
}

.alert-danger {
  background-color:#f8f5f5;
  border-color:#ebe9ea
}

.alert-danger .alert-link {
  color:#e74c3c
}

