/*
 * Sidebar
 */

/* Toggle Styles */

#wrapper {
  padding-left: 50px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 50px;
  height: 100%;
  padding: 10px;
  margin-left: -250px;
  overflow-y: auto;
  background-color: @clouds;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#sidebar {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#expand-sidebar {
  width: 100%;
  border: none;
  background: none;
  outline: 0;
}

#expand-sidebar-icon {
  float: right;
}

#page-content-wrapper {
  width: 100%;
  padding: 15px;
}

@media(max-width:767px) {
  #wrapper.toggled {
    padding-left: 250px;
  }

  #wrapper.toggled #sidebar-wrapper {
    width: 250px;
  }

  #wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
  }

  #wrapper.toggled #sidebar {
    display: block;
  }

  #wrapper.toggled #expand-sidebar {
    margin: 0px -10px;
    /* Hover state */
    &:hover {
      background-color: @input-bg-disabled;
    }
  }

  #sidebar {
    display: none;
  }
}

/* Sidebar Styles */
@media(min-width:768px) {
  #wrapper {
    padding-left: 250px;
  }

  #sidebar-wrapper {
    width: 250px;
  }

  #page-content-wrapper {
    padding: 20px;
  }

  #expand-sidebar {
    display: none;
  }
}