<div class="modal" tabindex="-1" role="dialog" ng-controller="pHCalibrationNewCtrl">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="$hide()">&times;</button>
        <h5 class="modal-title">New pH Calibration</h5>
      </div>
      <div class="modal-body">

        <form name="newPhCalibrationForm" novalidate>
          <div class="form-group" show-errors>
            <label class="control-label">Date</label>
            <input type="text" class="form-control" ng-model="phCalibration.date" name="date" placeholder="Date" bs-datepicker required/>
            <p class="help-block" ng-if="newPhCalibrationForm.date.$error.required">You need to enter a date.</p>
            <p class="help-block" ng-if="errors['date'] != null">{{errors['date']}}</p>
          </div>

          <div class="form-group" show-errors>
            <label class="control-label">Analyst</label>
            <input type="text" class="form-control" ng-model="phCalibration.analyst" name="analyst" placeholder="Analyst" required/>
            <p class="help-block" ng-if="newPhCalibrationForm.analyst.$error.required">You need to enter a analyst.</p>
            <p class="help-block" ng-if="errors['analyst'] != null">{{errors['analyst']}}</p>
          </div>

          <div class="form-group" show-errors>
            <label class="control-label">Change of Buffers</label>
            <input type="text" class="form-control" ng-model="phCalibration.change_of_buffers" name="change_of_buffers" placeholder="Change of Buffers" required/>
            <p class="help-block" ng-if="newPhCalibrationForm.change_of_buffers.$error.required">You need to enter a change of buffers value.</p>
            <p class="help-block" ng-if="errors['change_of_buffers'] != null">{{errors['change_of_buffers']}}</p>
          </div>

          <div class="form-group" show-errors>
            <label class="control-label">Check or Calibration</label>
            <input type="text" class="form-control" ng-model="phCalibration.check_or_calibration" name="check_or_calibration" placeholder="Check or Calibration" required/>
            <p class="help-block" ng-if="newPhCalibrationForm.check_or_calibration.$error.required">You need to enter a check or calibration value.</p>
            <p class="help-block" ng-if="errors['check_or_calibration'] != null">{{errors['check_or_calibration']}}</p>
          </div>

          <div class="form-group" show-errors>
            <label class="control-label">Buffer Calibration</label>
            <input type="text" class="form-control" ng-model="phCalibration.buffer_calibration" name="buffer_calibration" placeholder="Buffer Calibration" required/>
            <p class="help-block" ng-if="newPhCalibrationForm.buffer_calibration.$error.required">You need to enter a buffer calibration value.</p>
            <p class="help-block" ng-if="errors['buffer_calibration'] != null">{{errors['buffer_calibration']}}</p>
          </div>

          <div class="form-group" show-errors>
            <label class="control-label">Slope</label>
            <input type="text" class="form-control" ng-model="phCalibration.slope" name="slope" placeholder="Slope" required/>
            <p class="help-block" ng-if="newPhCalibrationForm.slope.$error.required">You need to enter a slope value.</p>
            <p class="help-block" ng-if="errors['slope'] != null">{{errors['slope']}}</p>
          </div>

          <div class="form-group" show-errors>
            <label class="control-label">Comments</label>
            <input type="text" class="form-control" ng-model="phCalibration.comments" name="comments" placeholder="Comments" required/>
            <p class="help-block" ng-if="newPhCalibrationForm.comments.$error.required">You need to enter a comments.</p>
            <p class="help-block" ng-if="errors['comments'] != null">{{errors['comments']}}</p>
          </div>
        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="$hide()">Close</button>
        <button type="button" class="btn btn-primary" ng-click="save()">Save</button>
      </div>
    </div>
  </div>
</div>