<a class="btn btn-primary above-search-btn" ui-sref="app.equipments.new">New Equipment</a>
<div class="form-group">
  <input type="text" ng-model="query" class="form-control" placeholder="Search" />
  <i class="input-icon fui-search"></i>
</div>
<ul class="list-group nav">
  <a ui-sref="app.equipments.detail({ equipmentId: equipment.id })" ng-repeat="equipment in equipments | emptyifblank:query | filter:query" ui-sref-active="active" class="list-group-item" ng-click="updateCurrentEquipment(equipment)">{{equipment.make}} - {{equipment.model}}</a>
</ul>