<h5>New Tag</h5>
<form name="newTagForm" novalidate>
  <div class="form-group" show-errors>
    <label class="control-label">Name</label>
    <input type="text" class="form-control" placeholder="Name" name="name" ng-model="tag.name" required/>
    <p class="help-block" ng-if="newTagForm.name.$error.required">The tag's name is required</p>
  </div>
  <div class="form-group" show-errors>
    <label class="control-label">Value</label>
    <input type="text" class="form-control" placeholder="Value" name="value" ng-model="tag.value" required/>
    <p class="help-block" ng-if="newTagForm.value.$error.required">The tag's value is required</p>
  </div>

  <button class="btn btn-primary" ng-click="save()">Add Tag</button>
</form>