// App main stylesheet that aggregates all modules

// Loading config with variables (changing them leads to changing a color scheme)
@import "bower_components/flat-ui-official/less/variables";

// Modules
@import "common/directives/awtpForm/awtpForm.less";
@import "common/less/sidebar.less";
@import "common/less/slider.less";
@import "common/less/alert.less";
@import "common/less/btn-group.less";
@import "common/less/font-size.less";
@import "common/less/above-search-btn.less";
@import "common/less/margins.less";
@import "trend/detail/trend-detail.less";
@import "accounts/auth/auth.less";

// Global CSS
body { 
  padding-top: 53px; 
}

.page-header {
  margin: 0 0 30px;
}

.list-group-item {
  background: none;
  border: none;
  margin: 0 -20px;
  padding-left: 35px;

  /* Active class on item itself, not parent */
  &.active,
  &.active:hover,
  &.active:focus {
    z-index: 2; // Place active items above their siblings for proper border styling
    background-color: @btn-primary-hover-bg;
  }

  /* Round the first and last items */
  &:first-child {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }
  &:last-child {
    margin-bottom: 0;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
}

a.list-group-item {
  color: @wet-asphalt;

  /* Hover state */
  &:hover,
  &:focus {
    background-color: @input-bg-disabled;
  }
}

.list-group-item.active {
  background-color: @brand-secondary;
  color: white;
}
