.form-group .help-block {
  display: none;
}
.form-group.has-error .help-block {
  display: block;
}
/*
 * Sidebar
 */
/* Toggle Styles */
#wrapper {
  padding-left: 50px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 50px;
  height: 100%;
  padding: 10px;
  margin-left: -250px;
  overflow-y: auto;
  background-color: #ecf0f1;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#sidebar {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#expand-sidebar {
  width: 100%;
  border: none;
  background: none;
  outline: 0;
}
#expand-sidebar-icon {
  float: right;
}
#page-content-wrapper {
  width: 100%;
  padding: 15px;
}
@media (max-width: 767px) {
  #wrapper.toggled {
    padding-left: 250px;
  }
  #wrapper.toggled #sidebar-wrapper {
    width: 250px;
  }
  #wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
  }
  #wrapper.toggled #sidebar {
    display: block;
  }
  #wrapper.toggled #expand-sidebar {
    margin: 0px -10px;
    /* Hover state */
  }
  #wrapper.toggled #expand-sidebar:hover {
    background-color: #f4f6f6;
  }
  #sidebar {
    display: none;
  }
}
/* Sidebar Styles */
@media (min-width: 768px) {
  #wrapper {
    padding-left: 250px;
  }
  #sidebar-wrapper {
    width: 250px;
  }
  #page-content-wrapper {
    padding: 20px;
  }
  #expand-sidebar {
    display: none;
  }
}
rzslider {
  height: 12px;
  /*border-radius: 32px;*/
}
rzslider span.bar {
  background: #ecf0f1;
  border-radius: 32px;
}
rzslider span.bar.selection {
  background: #1abc9c;
}
rzslider span.pointer {
  top: -4px;
  width: 18px;
  height: 18px;
  background-color: #16a085;
}
rzslider span.pointer.active,
rzslider span.pointer:hover,
rzslider span.pointer:focus {
  background-color: #48c9b0;
}
rzslider span.pointer:after {
  display: none;
}
rzslider span.bubble {
  top: -32px;
  padding: 1px 3px 1px 3px;
  color: #34495e;
  cursor: default;
  /*  left:0px;
  right:0px;*/
}
rzslider span.bubble.limit {
  color: #34495e;
}
.alert {
  outline: 0;
}
.alert {
  padding: 18px 45px 14px 30px;
  font-size: 16px;
  line-height: 1.625;
  color: #34495e;
  border: 2px solid transparent;
  border-radius: 6px;
}
.alert .alert-link {
  font-weight: 700;
}
.alert .alert-link:hover {
  text-decoration: underline;
}
.alert .alert-link.btn {
  color: #fff;
  text-decoration: none;
}
.alert .alert-link.btn:active,
.alert .alert-link.btn.active {
  color: rgba(255, 255, 255, 0.75);
}
.alert h4 {
  margin-bottom: 4px;
  font-size: 24px;
  line-height: 1.2;
}
.alert p {
  font-size: inherit;
  line-height: inherit;
}
.alert .close {
  position: relative;
  top: 3px;
  right: -31px;
  font-size: 18px;
  line-height: 18px;
  color: #34495e;
}
.alert .btn {
  margin-top: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
}
@media (max-width: 767px) {
  .alert .btn {
    display: block;
    min-width: auto;
    margin-right: -15px;
    margin-bottom: 10px;
  }
}
.alert-success {
  background-color: #eff7f3;
  border-color: #e1ebe9;
}
.alert-success .alert-link {
  color: #16a085;
}
.alert-info {
  background-color: #f7f9fa;
  border-color: #e9ecef;
}
.alert-info .alert-link {
  color: #3498db;
}
.alert-warning {
  background-color: #f9f8f3;
  border-color: #ebece8;
}
.alert-warning .alert-link {
  color: #f1c40f;
}
.alert-danger {
  background-color: #f8f5f5;
  border-color: #ebe9ea;
}
.alert-danger .alert-link {
  color: #e74c3c;
}
.header-btn-group {
  top: -6px;
}
body {
  font-size: 16px;
}
.above-search-btn {
  width: 100%;
  margin-bottom: 10px;
}
.margin-bot10 {
  margin-bottom: 10px;
}
#data-points-table {
  overflow: auto;
}
.body-login {
  background-color: #34495e;
}
.login-page {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 600px;
  height: 300px;
  margin-top: -150px;
  margin-left: -300px;
  color: #FFF;
}
.login-icon {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -430px;
  margin-top: -150px;
}
.login-form .has-error .form-control {
  border-color: #e74c3c;
}
body {
  padding-top: 53px;
}
.page-header {
  margin: 0 0 30px;
}
.list-group-item {
  background: none;
  border: none;
  margin: 0 -20px;
  padding-left: 35px;
  /* Active class on item itself, not parent */
  /* Round the first and last items */
}
.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
  z-index: 2;
  background-color: #48c9b0;
}
.list-group-item:first-child {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
.list-group-item:last-child {
  margin-bottom: 0;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
a.list-group-item {
  color: #34495e;
  /* Hover state */
}
a.list-group-item:hover,
a.list-group-item:focus {
  background-color: #f4f6f6;
}
.list-group-item.active {
  background-color: #1abc9c;
  color: white;
}
