<div class="form-group">
<input type="text" ng-model="query" class="form-control" placeholder="Search" />
<i class="input-icon fui-search"></i>
</div>
<ul class="list-group nav">
  <a ui-sref="app.users.detail({ userId: user.id })" ng-repeat="user in users | emptyifblank:query | filter:query" ui-sref-active="active" class="list-group-item" ng-click="updateCurrentUser(user)">{{user.email}}</a>
</ul>