<form name="loginForm" class="login-form" novalidate>
  <div class="form-group" show-errors>
    <input type="email" class="form-control login-field" value="" placeholder="Enter your email" name="email" ng-model="login.email" required/>
    <label class="login-field-icon fui-mail" for="login-name"></label>
    <p class="help-block" ng-if="loginForm.email.$error.required">You need to enter an email to login</p>
    <p class="help-block" ng-if="loginForm.email.$error.email">This is not a valid email</p>
    <p class="help-block" ng-if="errors['form'] != null">{{errors['form']}}</p>
  </div>

  <div class="form-group" show-errors>
    <input type="password" class="form-control login-field" value="" placeholder="Password" name="password" ng-model="login.password" required/>
    <label class="login-field-icon fui-lock" for="login-pass"></label>
    <p class="help-block" ng-if="loginForm.password.$error.required">A password is required</p>
  </div>

  <a class="btn btn-primary btn-lg btn-block" ng-click="login()">Log in</a>
  <a class="login-link" ui-sref="auth.register">Register</a>
</form>