<h5 class="page-header">
  {{$parent.currentUser.email}}
  <div class="btn-group header-btn-group pull-right">
    <button class="btn btn-primary" ng-click="update()">Update</button>
    <button class="btn btn-danger fui-cross" ng-click="delete()"></button>
  </div>
</h5>
<div class="col-md-12">
  <div class="table-responsive">
    <table class="table table-striped">
      <tbody>
        <tr ng-repeat="(key, value) in user" ng-if="key != 'admin'">
          <th>{{key}}</th>
          <td>{{value}}</th>
        </tr>
        <tr>
          <th>admin</th>
          <td>
            <fui-switch ng-model="adminSwitch"></fui-switch>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>