<h5 class="page-header">
  {{$parent.currentEquipment.make}} - {{$parent.currentEquipment.model}}
  <div class="btn-group header-btn-group pull-right">
    <button class="btn btn-danger fui-cross" ng-click="delete()"></button>
  </div>
</h5>
<div class="table-responsive">
  <table class="table table-striped">
    <tbody>
      <tr ng-repeat="(key, value) in equipment" ng-if="key != 'colorimeters' && key != 'ph_calibrations'">
        <th>{{key}}</th>
        <td>{{value}}</th>
      </tr>
    </tbody>
  </table>
</div>

<h5>Forms</h5>
<div class="row margin-bot10">
  <div class="btn-toolbar col-md-8">
    <div class="btn-group">
      <a class="btn btn-primary" ng-class="{'active':activeForm == 'colorimeters'}" ng-click="setActiveForm('colorimeters')">{{activeFormToViewString('colorimeters')}}</a>
      <a class="btn btn-primary" ng-class="{'active':activeForm == 'ph_calibrations'}" ng-click="setActiveForm('ph_calibrations')">{{activeFormToViewString('ph_calibrations')}}</a>
    </div>
  </div>

  <div class="col-md-4">
    <button type="button" class="btn btn-primary pull-right" ng-click="openCreateFormModal()">Add {{activeFormToViewString(activeForm)}}</button>
  </div>
</div>

<div class="table-responsive" ng-if="equipment[activeForm].length > 0">
  <table class="table table-striped">
    <tbody>
      <tr>
        <th ng-repeat="(key, value) in equipment[activeForm][0]">{{key}}</th>
      </tr>
      <tr dir-paginate="form in equipment[activeForm] | itemsPerPage: 10">
        <td ng-repeat="(key, value) in form">{{value}}</td>
      </tr>
    <tbody>
  </table>
  <dir-pagination-controls class="col-md-4 col-md-offset-4"></dir-pagination-controls>
</div>
