<form name="registerForm" class="login-form" novalidate>
  <div class="form-group" show-errors>
    <input type="email" class="form-control login-field" value="" placeholder="Enter your email" name="email" ng-model="user.email" required/>
    <label class="login-field-icon fui-mail" for="login-name"></label>
    <p class="help-block" ng-if="registerForm.email.$error.required">You need to enter an email to login</p>
    <p class="help-block" ng-if="registerForm.email.$error.email">This is not a valid email</p>
    <p class="help-block" ng-if="errors['email'] != null">Email {{errors['email']}}</p>
  </div>

  <div class="form-group" show-errors>
    <input type="password" class="form-control login-field" value="" placeholder="Password" name="password" ng-model="user.password" required/>
    <label class="login-field-icon fui-lock" for="login-pass"></label>
    <p class="help-block" ng-if="registerForm.password.$error.required">A password is required</p>
    <p class="help-block" ng-if="errors['password'] != null">Password {{errors['password']}}</p>
  </div>

  <div class="form-group" show-errors>
    <input type="password" class="form-control login-field" value="" placeholder="Password confirmation" name="password_confirmation" ng-model="user.password_confirmation" required/>
    <label class="login-field-icon fui-lock" for="login-pass"></label>
    <p class="help-block" ng-if="registerForm.password_confirmation.$error.required">A password confirmation is required</p>
    <p class="help-block" ng-if="errors['password_confirmation'] != null">Password confirmation {{errors['password_confirmation']}}</p>
  </div>

  <a class="btn btn-primary btn-lg btn-block" ng-click="register()">Register</a>
  <a class="login-link" ui-sref="auth.login">Log in</a>
</form>