<h5 class="page-header">{{$parent.currentTrend.name}}</h5>
<div>
  <rzslider
    rz-slider-floor="dateSlider.floor"
    rz-slider-ceil="dateSlider.ceil"
    rz-slider-model="dateSlider.min"
    rz-slider-high="dateSlider.max"
    rz-slider-translate="translateDaysFromStartToDate"></rzslider>
</div>
<div class="row">
  <div class="col-md-6" css-equal-height="data-points-table">
    <h6 class="sub-header">Trend</h6>
    <canvas linechart options="chartOptions" data="chart1"></canvas>
  </div>
  <div class="col-md-6">
    <h6 class="sub-header">Raw Data</h6>
    <div id="data-points-table" class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Time</th>
            <th>Value</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="data_point in trend.data_points">
            <td>{{data_point.time}}</td>
            <td>{{data_point.value}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="col-mid-6">
  <h6 class="sub-header">Trend Details</h6>
  <div class="table-responsive">
    <table class="table table-striped">
      <tbody>
        <tr ng-repeat="(key, value) in trend" ng-if="key != 'data_points'">
          <th>{{key}}</th>
          <td>{{value}}</th>
        </tr>
      </tbody>
    </table>
  </div>
</div>